.text-warning-custom{
    color: rgba(31, 62, 126, 0.884);
}
.p-10{
    margin-top: 200px;
    margin-bottom: 50px;
    padding: 200px;
}
.carousel-caption-custom {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.custom-a-card{
    color:  #0D6EED;
    border-radius: 50px;
    text-decoration: none;
    padding: 5px 40px;
    background-color: #ffa9e04d;
}
.card-hover:hover{
    background-color: #0D6EED;
    color: white;
    box-shadow: #0d6eedb7 0px 25px 35px 0px;
    border-radius: 35px;
}
.card-hover:hover .custom-a-card{
    background-color: white;
}
.footer{
    height: 280px;
}
.bg-sky{
    background-color: #E4F5FF;
}
.row-custom{
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
}
/* banner text responsive for mobile */
@media only screen and (max-width:576px) {
    .p-10{
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
    }
    
}
/* banner text responsive for tab */
@media only screen and (min-width:577px) and (max-width:968px) {
    .p-10{
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 15px;
    }
    
}